.AddMarterialCont {
    width: 65vh;
    margin-top: 0%;
    margin-left: 0%;
}
.AddMatButton {
    margin-top: 3%;
    float: right;
    margin-right: 12%;
    background-color: #2f88ff;
    color: white;
}
