.AddMarterialCont {
    width: 120vh;
    margin-top: 5%;
    margin-left: 30%;
}
.AddMatButton {
    margin-top: 3%;
    float: right;
    margin-right: 12%;
    background-color: #2f88ff;
    color: white;
}
.BackButton {
    margin-top: 10%;
    margin-left: 20%;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
}
